html {
	position: relative;
}

body {
	margin-bottom: 130px;
	margin-top: 30px;
}


.jumbotron {
	background-image: url(../img/header-bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -200px;
	color: #eaeaea;
	overflow: hidden;
}


.jumbotron img {
	width: 200px;
	border: 5px solid #eaeaea;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p {
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}


hr {
	width: 250px;
	border-top: 3px solid #999;
}

section {
	min-height: 600px;
}

.pKiri, .pKanan {
	opacity: 0;
	transform: translate(-50px, 0);
	transition: 1s;
}

.pKanan {
	transform: translate(50px, 0);
}


.pKiri.pMuncul, .pKanan.pMuncul {
	opacity: 1;
	transform: translate(0,0);
}

.portfolio {
	background-color: #eee;
}

.portfolio .thumbnail {
	opacity: 0;
	transform: translate(0, -40px);
	transition: .5s;

}

.portfolio .thumbnail.muncul {
	opacity: 1;
	transform: translate(0,0);
}

.contact {
	min-height: 800px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 130px;
	background-color: #333;
	padding-top: 30px;
}

footer p {
	color: white;
	font-size: 1em;
}

footer p i {
	color: white;
}


.overlay {
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0);
	z-index: 9999;
	transition: .7s;
	text-align: center; 
	padding: 100px 0;
}

.overlay:target {
	width: auto;
	height: auto;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.7);
}


.overlay img {
	max-height: 100%;
	box-shadow: 2px 2px 7px rgba(0,0,0,.5);
}


.overlay:target img {
	animation: fade .8s;
}


.overlay .close {
	position: absolute;
	top: 55px;
	left: 50%;
	margin-left: -35px;
	font-size: 15px;
	color: white;
	text-decoration: none;
	background-color: black;
	border: 1px solid white;
	padding: 4px;
	opacity: 0;
}


.overlay:target .close {
	animation: close .5s .5s forwards;
}


.overlay:target .next, .overlay:target .prev {
	animation: fade .5s .5s forwards;
}


.next, .prev {
	width: 70px;
	height: 70px;
	background-image: url(../img/next.png);
	position: absolute;
	text-indent: -9999px;
	top: 30%;
	margin-left: 10px;
	opacity: 0;
}

.prev {
	background-image: url(../img/back.png);
	margin-left: -78px;
}


@keyframes zoom {
	0% {
		transform: scale(0);
		opacity: 0;
	}


	100% {
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes close {
	0% {
		opacity: 0;
		margin-top: -20px;
	}


	100% {
		opacity: 1;
		margin-top: 0px;
	}
}


@keyframes fade {
	0% {
		opacity: 0;
	}


	100% {
		opacity: 1;
	}
}

